* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

.block {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 64px;
  color: #fefefe;
  height: 100vh;
}

#section-1 {
  background-color: #9689ff;
}

#section-2 {
  background-color: #8579ef;
}

#section-3 {
  background-color: #695dd0;
}
